$body-dark-bg-color: #121212;
$sidebar-dark-bg-color: #202020;
$header-dark-bg-color: #262626;
$stage-container-dark-bg-color: #232323;
$match-container-dark-bg-color: #323232;
$score-container-dark-bg-color: #505050;
$match-result-container-dark-bg-color: #404040;

$dark-basic-text-color: #d3d3d3;
$dark-highlighted-text-color: #5050ff;



$body-light-bg-color: #a93535;
$sidebar-light-bg-color: #4c4778;
$header-light-bg-color: #6e8c7c;
$stage-container-light-bg-color: #b12aab;
$match-container-light-bg-color: #c9cc92;
$score-container-light-bg-color: #584274;
$match-result-container-light-bg-color: #19a29c;

$light-basic-text-color: black;
$light-highlighted-text-color: #5050ff;