header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  height: 80px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header.dark-theme {
  background-color: #262626;
}

header.light-theme {
  background-color: #6e8c7c;
}

.hamburger-menu-icon {
  display: none;
  height: 100%;
  width: 90px;
}

.hamburger-menu-icon img {
  width: 30px;
}
