@media screen and (max-width: 990px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  .stage {
    padding: 30px 20px;
  }
  .sidebar {
    width: 0;
  }
  .sidebar * {
    transition: transform 0.5s, opacity 0.3s;
    transform: scaleX(0);
    opacity: 0;
  }
  .sidebar.visible {
    display: flex;
    width: 350px;
  }
  .sidebar.visible * {
    transform: scaleX(1);
    opacity: 1;
  }
  .sidebar.visible .screen-darkener {
    display: block;
  }
  .sidebar.visible .sidebar-menu-element-description {
    width: auto;
  }
  .bg-animation-container {
    left: 10px;
    right: 20px;
  }
  .hamburger-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 990px) and (max-width: 560px) {
  body {
    padding-left: 3px;
    padding-right: 3px;
  }
}
