@import './_config.scss';
@media screen and (max-width: 990px) {

  body {
    padding-left: 10px;
    padding-right: 10px;
  }      
  
  .sidebar {
    & * {transition: transform 0.5s, opacity 0.3s; transform: scaleX(0); opacity: 0;}
    width: 0;

    &.visible {
      display: flex;
      width: $sidebar-full-width;
      & * {transform: scaleX(1); opacity: 1;}

      & .screen-darkener {
        display: block;
      }
    }
  }

  .bg-animation-container {
    left: 10px;
    right: 20px;
  }

  .hamburger-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
