@media screen and (min-width: 1200px) {
  .sidebar {
    width: 350px;
  }
  body {
    padding-left: 380px;
    padding-right: 30px;
  }
  .bg-animation-container {
    left: 360px;
    right: 20px;
  }
}
