.sidebar {
  position: fixed;
  left: 0;
  right: auto;
  top: 80px;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.dark-theme {
  background-color: #202020;
}

.sidebar.light-theme {
  background-color: #4c4778;
}

.sidebar-menu-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 90%;
  border-bottom: 1px solid #d3d3d3;
}

.change-color-theme-btn {
  height: 37px;
  width: 60px;
  border: 3px solid;
  border-radius: 100px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: border-color 0.3s;
  padding-left: 7px;
}

.change-color-theme-btn div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

.change-color-theme-btn.dark-theme {
  border-color: white;
}

.change-color-theme-btn.dark-theme div {
  background-color: white;
  transform: translateX(0);
}

.change-color-theme-btn.light-theme {
  border-color: black;
}

.change-color-theme-btn.light-theme div {
  background-color: black;
  transform: translateX(115%);
}
